body {
    background: white;
    color: black !important;
}
.navbar {
    background-color: white;
    opacity: 0.8;
    color: black;
}
.nav-link {
    color: black !important;
}
/* home section */
#home-section {
    padding-top: 100px;
    min-height: 700px;
    width: 85%;
}
#home-right {
    background: url(../img/img-office.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}
#buttons {
    width: 100%;
    margin: auto;
}
#buttons button {
    padding: 15px 60px 15px 60px;
}
/* follow section */
#follow {
    margin: 40px 0 !important;
}

/* driver rider */
#DriverRider {
    width: 85%;
    min-height: 500px;
}
a {
    text-decoration: none !important;
}
a:hover {
    color: black;
    cursor: pointer;
}
.imgD {
    margin: auto 0 auto 100px;
}
.boxRD {
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
}
.boxD {
    padding: 66px 30px 66px 0;
    margin: auto 30px auto 0;
}
.boxR {
    padding: 90px 0 30px 90px;
    margin: auto 0 auto 0px;
}
/* where to */

#WhereTo {
    width: 100%;
    height: 600px;
    margin: 120px 0;
}

#whereto-img {
    background: url(../img/whereto-img.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.form-whereto {
    margin: 80px 10px !important;
}
/* sharing */
#sharing {
    margin: 260px 0 50px 0;
}
.share-img {
    width: 100%;
    margin: 140px auto;
    height: 100%;
}
/* news section */
#news {
    padding: 100px 0;
    background-color: whitesmoke;
}
/* work section */
#work {
    padding: 100px 0 0px 0;
    height: 700px;
}
#img-work {
    background: url(../img/img-office.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
}
/* testimonial section */
#testimonial {
    padding: 100px 0;
    background-color: whitesmoke;
}
.carousel {
    min-height: 300px;
}
.carousel img {
    height: 150px;
    width: 50px;
    object-fit: cover;
    border: 0px solid black;
    border-radius: 20%;
}
